@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image: url('/assets/Images/darkbg.svg');
    background-repeat: no-repeat;
}

[data-theme="dark"]{
    background-color: aqua;
}
